body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1 {
  font-size: 40px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}


header {
  background-color: rgb(141, 197, 141);
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
}

.logo {
  height: 120px;
  margin-right: 15px;
}
